# Exercise 2 for 'Data Science, Ai & Development'
## Strings

In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string

print("hello!")

hello!

In [6]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

## Strings als sequenties

In [ ]:
# Print the first element in the string

print(name[0])

In [8]:
# Print the element on index 6 in the string

print(name[6])

l

In [9]:
# Print the element on the 13th index in the string

print(name[13])

o

In [10]:
# Print the last element in the string

print(name[-1])

n

In [11]:
# Print the first element in the string

print(name[-15])

M

In [12]:
# Find the length of string

len("Michael Jackson")

15

In [13]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [14]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [15]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [16]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

## Strings aan elkaar plakken, en gebruik van backslash

In [17]:
# Concatenate - plak ze aan elkaar - two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [18]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [19]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [21]:
# New line escape sequence \n

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [22]:
# Tab escape sequence \t

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [23]:
# Include back slash in string through using \\

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [24]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

## basic string operations

In [25]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [26]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [27]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [28]:
# Find the substring in the string.

name.find('Jack')

8

In [29]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

## Kleine Quiz over strings

In [31]:
# Q: What is de value of the variable a after the following code is executed? A: A string variable '1'

a = "1"
a

'1'

In [32]:
# Q: What is the value of the variable b after the following code is executed? A: a string variable '2'
b= "2"
b

'2'

In [33]:
# Q: What is the value of the variable c after the following code is executed? A: a string variable '12' The strings have been concatenated.
c = a + b
c

'12'

In [34]:
# Q: Consider the variable d use slicing to print out the first three elements.
d = "ABCDEFG"
d[0:2]

'AB'

In [35]:
# Q: Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [36]:
# Q: Print out a backslash:
print ('\\')

\

In [38]:
# Q: Convert the variable f to uppercase:
f = "You are wrong"
f= f.upper()
f

'YOU ARE WRONG'

In [39]:
# Q: Consider the variable g, and find the first index of the sub-string snow

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find('snow')

95

In [40]:
# Q: In the variable g, replace the sub-string Mary with Bob
g.replace('Mary', 'Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'