# Exercise 1 for 'Python for Data Science, AI & Development'

In [2]:
# standard firstt practice output
print('hello, Python!')

hello, Python!

In [3]:
# check the Python Version
import sys
print(sys.version)

3.9.4 (tags/v3.9.4:1f2e308, Apr  6 2021, 13:40:21) [MSC v.1928 64 bit (AMD64)]

In [4]:
# practice on writing comments
print ('Hello, Python!') # THis line prints a string
# print ('Hi') # programmer commented out that second line of code

Hello, Python!

In [5]:
# NameError - did not define a name or misspelt a comment
# SyntaxError - e.g. did not close a string

In [7]:
print('Python is an interpreted language, it does not warn for errors in advance, but stops executing code when it runs into an error')

Python is an interpreted language, it does not warn for errors in advance, but stops executing code when it runs into an error

In [8]:
print('Python is an object oriented language. Common Types of objects: strings, integeres, floats and Booleans')

Python is an object oriented language. Common Types of objects: strings, integeres, floats and Booleans

In [11]:
# Integer
print(11)
type(11)

11

int

In [12]:
# Float
print(2.14)
type(2.14)

2.14

float

In [13]:
#String
print ('Hello')
type('Hello')

Hello

str

In [14]:
# in Python decimals are assigned with a point, not a comma
12,0

(12, 0)

In [15]:
type(12,0)

TypeError: type() takes 1 or 3 arguments

In [16]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [17]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [21]:
# Converting the (object) type of an operands
float(2) #converts integer to float

2.0

In [22]:
type(float(2))

float

In [23]:
int(1.1) #converts float to integer, by loosing all information after decimal - rounds down

1

In [24]:
# Convert a string into an integer

int('1')

1

In [25]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [26]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [27]:
# Convert an integer to a string

str(1)

'1'

In [28]:
# Convert a float to a string

str(1.2)

'1.2'

In [30]:
# Boolean data type - True -1- or False -0-
True #value true

True

In [31]:
False #value False

False

In [32]:
type(True)

bool

In [33]:
type(False)

bool

In [34]:
# Convert True to int

int(True)

1

In [35]:
# Convert 1 to boolean

bool(1)

True

In [36]:
# Convert True to float

float(True)

1.0

In [37]:
#in expressions dividing with one / results in a float, dividing with // results in an integer - the division is rounded down
type(6/2)

float

In [38]:
type(6//2)

int

In [40]:
#standard arithmetic and mathematical order for calculation is used, as well as using brackets to move forward desired mathematical calculations
1+5-4*5/2

-4.0

In [42]:
(1+5-4)*5/2

5.0

In [43]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [44]:
# Print out the value in variable

x

160

In [45]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [46]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [47]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [48]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [49]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667