In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://trc19485:53kfgv1n1%2Br49sth@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [3]:
%%sql 
select CR.CASE_NUMBER, CR.PRIMARY_TYPE, CD.COMMUNITY_AREA_NAME
from CHICAGO_CRIME_DATA CR inner join CENSUS_DATA CD
on CR.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
where CR.COMMUNITY_AREA_NUMBER = 18;

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('JA560123', 'CRIMINAL DAMAGE', 'Montclaire'),
 ('JA107722', 'OTHER OFFENSE', 'Montclaire')]

In [5]:
%%sql
select TABNAME, COLNAME from syscat.columns where tabname = 'CENSUS_DATA';

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CENSUS_DATA', 'COMMUNITY_AREA_NAME'),
 ('CENSUS_DATA', 'COMMUNITY_AREA_NUMBER'),
 ('CENSUS_DATA', 'HARDSHIP_INDEX'),
 ('CENSUS_DATA', 'PERCENT_AGED_16__UNEMPLOYED'),
 ('CENSUS_DATA', 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA'),
 ('CENSUS_DATA', 'PERCENT_AGED_UNDER_18_OR_OVER_64'),
 ('CENSUS_DATA', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY'),
 ('CENSUS_DATA', 'PERCENT_OF_HOUSING_CROWDED'),
 ('CENSUS_DATA', 'PER_CAPITA_INCOME')]

In [6]:
%%sql
select TABNAME, COLNAME from syscat.columns where tabname = 'CHICAGO_CRIME_DATA';

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CHICAGO_CRIME_DATA', 'ARREST'),
 ('CHICAGO_CRIME_DATA', 'BEAT'),
 ('CHICAGO_CRIME_DATA', 'BLOCK'),
 ('CHICAGO_CRIME_DATA', 'CASE_NUMBER'),
 ('CHICAGO_CRIME_DATA', 'COMMUNITY_AREA_NUMBER'),
 ('CHICAGO_CRIME_DATA', 'DATE'),
 ('CHICAGO_CRIME_DATA', 'DESCRIPTION'),
 ('CHICAGO_CRIME_DATA', 'DISTRICT'),
 ('CHICAGO_CRIME_DATA', 'DOMESTIC'),
 ('CHICAGO_CRIME_DATA', 'FBICODE'),
 ('CHICAGO_CRIME_DATA', 'ID'),
 ('CHICAGO_CRIME_DATA', 'IUCR'),
 ('CHICAGO_CRIME_DATA', 'LATITUDE'),
 ('CHICAGO_CRIME_DATA', 'LOCATION'),
 ('CHICAGO_CRIME_DATA', 'LOCATION_DESCRIPTION'),
 ('CHICAGO_CRIME_DATA', 'LONGITUDE'),
 ('CHICAGO_CRIME_DATA', 'PRIMARY_TYPE'),
 ('CHICAGO_CRIME_DATA', 'WARD'),
 ('CHICAGO_CRIME_DATA', 'X_COORDINATE'),
 ('CHICAGO_CRIME_DATA', 'YEAR'),
 ('CHICAGO_CRIME_DATA', 'Y_COORDINATE')]

In [7]:
%%sql
select TABNAME, COLNAME from syscat.columns where tabname = 'CHICAGO_PUBLIC_SCHOOLS';

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CHICAGO_PUBLIC_SCHOOLS', '10th Grade PLAN (2009)'),
 ('CHICAGO_PUBLIC_SCHOOLS', '10th Grade PLAN (2010)'),
 ('CHICAGO_PUBLIC_SCHOOLS', '11th Grade Average ACT (2011)'),
 ('CHICAGO_PUBLIC_SCHOOLS', '9th Grade EXPLORE (2009)'),
 ('CHICAGO_PUBLIC_SCHOOLS', '9th Grade EXPLORE (2010)'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'AVERAGE_STUDENT_ATTENDANCE'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Adequate_Yearly_Progress_Made_'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Average_Teacher_Attendance'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COLLEGE_ENROLLMENT'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COMMUNITY_AREA_NAME'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'COMMUNITY_AREA_NUMBER'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'CPS_Performance_Policy_Level'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'CPS_Performance_Policy_Status'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'City'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Collaborative_Name'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'College_Eligibility__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'College_Enrollment_Rate__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Environment_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Environment_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Family_Involvement_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Family_Involvement_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Freshman_on_Track_Rate__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'General_Services_Route'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr3_5_Grade_Level_Math__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr3_5_Grade_Level_Read__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr3_5_Keep_Pace_Math__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr3_5_Keep_Pace_Read__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr6_8_Grade_Level_Math__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr6_8_Grade_Level_Read__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr6_8_Keep_Pace_Math_'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr6_8_Keep_Pace_Read__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr_8_Explore_Math__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Gr_8_Explore_Read__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Graduation_Rate__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'HEALTHY_SCHOOL_CERTIFIED'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_Exceeding_Math__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_Exceeding_Reading__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_Value_Add_Color_Math'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_Value_Add_Color_Read'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_Value_Add_Math'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ISAT_Value_Add_Read'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Individualized_Education_Program_Compliance_Rate'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Instruction_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Instruction_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Latitude'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Leaders_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Leaders_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Link'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Location'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Longitude'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'NAME_OF_SCHOOL'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Net_Change_EXPLORE_and_PLAN'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Net_Change_PLAN_and_ACT'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Network_Manager'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Parent_Engagement_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Parent_Engagement_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Parent_Environment_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Parent_Environment_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Phone_Number'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Pk_2_Literacy__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Pk_2_Math__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Police_District'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Rate_of_Misconducts__per_100_students_'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'SAFETY_SCORE'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'SCHOOL_TYPE'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Safety_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'School_ID'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'State'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Street_Address'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Students_Passing__Algebra__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Students_Taking__Algebra__'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Teachers_Icon'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Teachers_Score'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Track_Schedule'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Ward'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'X_COORDINATE'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'Y_COORDINATE'),
 ('CHICAGO_PUBLIC_SCHOOLS', 'ZIP_Code')]

In [11]:
%%sql 
select CR.CASE_NUMBER, CR.PRIMARY_TYPE, CD.COMMUNITY_AREA_NAME
from CHICAGO_CRIME_DATA CR inner join CENSUS_DATA CD
on CR.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
where CR.LOCATION_DESCRIPTION like '%SCHOOL%'

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn')]

In [21]:
%%sql 
select CR.CASE_NUMBER, CR.PRIMARY_TYPE, CD.COMMUNITY_AREA_NAME, CD.COMMUNITY_AREA_NUMBER
from CHICAGO_CRIME_DATA CR inner join CENSUS_DATA CD
on CR.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
where CD.COMMUNITY_AREA_NAME in ('Oakland','Edgewater','Armour Square', 'CHICAGO')

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HV537004', 'THEFT', 'Edgewater', 77),
 ('HM392612', 'THEFT', 'Edgewater', 77)]

In [17]:
%sql select distinct(COMMUNITY_AREA_NAME), COMMUNITY_AREA_NUMBER from CENSUS_DATA order by COMMUNITY_AREA_NAME

 * ibm_db_sa://trc19485:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Albany Park', 14),
 ('Archer Heights', 57),
 ('Armour Square', 34),
 ('Ashburn', 70),
 ('Auburn Gresham', 71),
 ('Austin', 25),
 ('Avalon Park', 45),
 ('Avondale', 21),
 ('Belmont Cragin', 19),
 ('Beverly', 72),
 ('Bridgeport', 60),
 ('Brighton Park', 58),
 ('Burnside', 47),
 ('CHICAGO', None),
 ('Calumet Heights', 48),
 ('Chatham', 44),
 ('Chicago Lawn', 66),
 ('Clearing', 64),
 ('Douglas', 35),
 ('Dunning', 17),
 ('East Garfield Park', 27),
 ('East Side', 52),
 ('Edgewater', 77),
 ('Edison Park', 9),
 ('Englewood', 68),
 ('Forest Glen', 12),
 ('Fuller Park', 37),
 ('Gage Park', 63),
 ('Garfield Ridge', 56),
 ('Grand Boulevard', 38),
 ('Greater Grand Crossing', 69),
 ('Hegewisch', 55),
 ('Hermosa', 20),
 ('Humboldt park', 23),
 ('Hyde Park', 41),
 ('Irving Park', 16),
 ('Jefferson Park', 11),
 ('Kenwood', 39),
 ('Lake View', 6),
 ('Lincoln Park', 7),
 ('Lincoln Square', 4),
 ('Logan Square', 22),
 ('Loop', 32),
 ('Lower West Side', 31),
 ('McKinley Park', 59),
 ('Montclaire', 18),
 ('Morgan Park', 75),
 ('Mount Greenwood', 74),
 ('Near North Side', 8),
 ('Near South Side', 33),
 ('Near West Side', 28),
 ('New City', 61),
 ('North Center', 5),
 ('North Lawndale', 29),
 ('North Park', 13),
 ('Norwood Park', 10),
 ("O'Hare", 76),
 ('Oakland', 36),
 ('Portage Park', 15),
 ('Pullman', 50),
 ('Riverdale', 54),
 ('Rogers Park', 1),
 ('Roseland', 49),
 ('South Chicago', 46),
 ('South Deering', 51),
 ('South Lawndale', 30),
 ('South Shore', 43),
 ('Uptown', 3),
 ('Washington Height', 73),
 ('Washington Park', 40),
 ('West Elsdon', 62),
 ('West Englewood', 67),
 ('West Garfield Park', 26),
 ('West Lawn', 65),
 ('West Pullman', 53),
 ('West Ridge', 2),
 ('West Town', 24),
 ('Woodlawn', 42)]